* {
  box-sizing: border-box;
}

body {
  font-family: arial;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

header {

}

h1 {

}

.yo-title-txt {

}

.search-bar-btn {

}

.search-bar-img {

}

.search-bar-img {

}

.search-bar-input {

}

main {

}

aside {

}

form {

}

task-title-text {

}

title-of-task-input {

}

container-adding-tasks {

}

task-item-text {

}

.task-items-input {

}

.addition-task-btn {

}

.addition-task-btn-img {

}

.create-todo-btn {

}

.clear-all-btn {

}

.urgency-btn {

}

.container-all-todo-cards {

}

.container-no-todo-tasks {

}

.container-todo-card-info {
  
}



xxx