* {
  box-sizing: border-box;
}

body {
  font-family: open sans-serif;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

/* title and search bar to page */
header {
  background-color: #1f1f3d;
  height: 15%;
  width: 100vw;
}

.container-header-info {
  display: inline-flex;
  flex-direction: row;
  margin-top: 1%;
  width: 100%;
}

h1 {
  color: #FFF;
  font-size: 330%;
  font-weight: 800;
  margin: 0 20% 0 8%;
  width: 50%;
}

.yo-title-txt {
  color: #ffc30c;
}

.container-search-bar {
  display: flex;
  width: 15%;
}

.search-bar-btn {
  background-color: lightgray;
  width: 25%;
}

.search-bar-input {
  font-size: xx-large;
  width: 80%;
}

main {
  display: flex;
}

/* left side of page containing button menu and input forms */
aside {
  background-color: #587a8a;
  height: 100vh;
  width: 33%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-title-text {
  color: #F3F6F7;
  font-size: 2em;
  margin: 6% 0 0 3%;
}

.title-input {
  border: 2px solid #1f1f3d;
  height: 5em;
  margin: 0 3%;
}

.container-adding-tasks {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-tasks {
  color: #F3F6F7;
  display: flex;
  font-size: 1.5em;
  margin: 4%;
}

.delete-img {
  margin-right: 3%;
  width: 1em;
}

.new-todo-tasks {
  color: #587a8a;
  display: flex;
  font-size: 1.5em;
  margin: 4%;
}

.checkbox-img {
  margin-right: 3%;
  width: 1em;
}

.task-item-text {
  color: #F3F6F7;
  font-size: 2em;
  margin: 6% 0 0 3%;
}

.container-task-input-and-btn {
  display: inline-flex;
}

.task-items-input {
  border: 2px solid #1f1f3d;
  height: 5em;
  margin-left: 3%;
  width: 71%;
}

.addition-task-btn {
  background-color: #1f1f3d;
  border: 2px solid #1f1f3d;
  color: #fff;
  font-size: 250%;
  width: 23%;
}

.create-todo-btn {
  background-color: #1f1f3d;
  border: 2px solid #1f1f3d;
  color: #FFF;
  font-size: 1.7em;
  height: 2em;
  margin: 7% 3% 3.5%;
}

.clear-all-btn {
  background-color: #1f1f3d;
  border: 2px solid #1f1f3d;
  color: #FFF;
  font-size: 1.7em;
  height: 2em;
  margin: 3.5% 3%;
}

.urgency-btn {
  background-color: #1f1f3d;
  border: 2px solid #1f1f3d;
  color: #FFF;
  font-size: 1.7em;
  height: 2em;
  margin: 10% 3%;
}

/* styling for the noCards display || todoCards on right side of main */
.container-all-todo-cards {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.container-no-todo-cards {
  font-size: 400%;
  margin: 10% 0 0 30%;
  opacity: .5;
  text-align: center;
  width: 100%;
}

.todo-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  margin: 5%;
  width: 90%;
}

.todo-card {
  border: 2px solid #c7d3d8;
  margin: 5%;
  width: 40%;
}

h3 {
  border-bottom: 2px solid #c7d3d8;
  font-size: 2.5em;
  margin: 0;
  padding-left: 3%;
}

.all-tasks-in-todo {
  display: flex;
  flex-direction: column;
}

.todo-board-footer {
  border-top: 2px solid #c7d3d8;
  display: flex;
  flex-direction: row;
}

.make-card-urgent {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  font-size: 100%;
  margin: 2%;
  margin: 2%;
  width: 20%;
}

.urgent-img {
  display: block;
  margin-left: 10%;
  width: 45%;
}

.delete-img-for-card {
  width: 40%;
}

.delete-todo-card {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  font-size: 100%;
  justify-content: center;
  margin: 2% 0 0 60%;
  width: 16%;
}