* {
  box-sizing: border-box;
}

body {
  font-family: open sans-serif;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

header {
  background-color: #1f1f3d;
  height: 15%;
  width: 100vw;
}

.container-header-info {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1%;
}

h1 {
  color: #FFF;
  font-size: 330%;
  font-weight: 800;
  margin: 0 20% 0 8%;
  width: 50%;
}

.yo-title-txt {
  color: #ffc30c;
}

.container-search-bar {
  display: flex;
  width: 15%;
}

.search-bar-btn {
  width: 25%;
  background-color: lightgray;
}

.search-bar-input {
  width: 80%;
  font-size: xx-large;
}

main {
  display: flex;
}


aside {
  background-color: #587a8a;
  width: 33%;
  height: 100vh;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.task-title-text {
  font-size: 2em;
  margin: 6% 0 0 3%;
  color: #F3F6F7;
}

.title-input {
  height: 5em;
  margin: 0 3%;
  border: 2px solid #1f1f3d;
}

.container-adding-tasks {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-tasks {
  display: flex;
  margin: 4%;
  font-size: 1.5em;
  color: #F3F6F7;
}

.delete-img {
  width: 1em;
  margin-right: 3%;
}

.new-todo-tasks {
  display: flex;
  margin: 4%;
  font-size: 1.5em;
  color: #587a8a;
}

.checkbox-img {
  width: 1em;
  margin-right: 3%;
}

.task-item-text {
  font-size: 2em;
  margin: 6% 0 0 3%;
  color: #F3F6F7;
}

.container-task-input-and-btn {
  display: inline-flex;
}

.task-items-input {
  height: 5em;
  margin-left: 3%;
  width: 71%;
  border: 2px solid #1f1f3d;
}

.addition-task-btn {
  width: 23%;
  background-color: #1f1f3d;
  border: 2px solid #1f1f3d;
  font-size: 250%;
  color: #fff;
}

.urgency-btn:disabled,
.clear-all-btn:disabled,
.create-todo-btn:disabled,
.addition-task-btn:disabled {
  background-color: red;
}

.create-todo-btn {
  height: 2em;
  margin: 7% 3% 3.5%;
  background-color: #1f1f3d;
  border: 2px solid #1f1f3d;
  color: #FFF;
  font-size: 1.7em;
}

.clear-all-btn {
  height: 2em;
  margin: 3.5% 3%;
  background-color: #1f1f3d;
  border: 2px solid #1f1f3d;
  color: #FFF;
  font-size: 1.7em;
}

.urgency-btn {
  height: 2em;
  margin: 10% 3%;
  background-color: #1f1f3d;
  border: 2px solid #1f1f3d;
  color: #FFF;
  font-size: 1.7em;
}

.container-all-todo-cards {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container-no-todo-cards {
  text-align: center;
  font-size: 400%;
  opacity: .5;
  margin: 10%;
  width: 100%;
}

.todo-card-container {
  width: 90%;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5%;
  height: 100vh;
}

.todo-card {
  margin: 5%;
  border: 2px solid #c7d3d8;
  width: 40%;
}

h3 {
  border-bottom: 2px solid #c7d3d8;
  margin: 0;
  font-size: 2.5em;
  padding-left: 3%;
}

.all-tasks-in-todo {
  display: flex;
  flex-direction: column;
}

.todo-board-footer {
  border-top: 2px solid #c7d3d8;
  display: flex;
  flex-direction: row;
}

.make-card-urgent {
  display: flex;
  flex-direction: column;
  margin: 2%;
  margin: 2%;
  width: 20%;
  border: none;
  background-color: white;
  font-size: 100%;
}


.urgent-img {
  width: 45%;
  display: block;
  margin-left: 10%;
}

.delete-img-for-card {
  width: 40%;
}

.delete-todo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 0 0 60%;
  width: 16%;
  border: none;
  background-color: white;
  font-size: 100%;
}


xxx